{% extends 'base_1.html' %}

{% block title %}About
{% endblock title %}
{% block body %}

<div class="mx-3">
    <h2>About Us:</h2><br>
    <h4>Our Motive:</h4>
        <p>Kryptext aims to facilitate smooth and secure text messaging while being
            easy to set up and use. End-to-end encryption allows user to share any
            piece of information without worrying about it being seen by anyone other
            than the intended recipient. We provide hassle-free sign up and login.</p><br>
    <h4>Our Team:</h4>
        <p>The team that made Kryptext possible is composed of 5 people:<br>
            1. Anurag<br>2. Keshav<br>3. Riddhi<br>4. Teja<br>5. Ashish</p>
</div>
{% endblock body %}