{% extends 'base_2.html' %}
{% block head %}
<style>
    * {
        box-sizing: border-box;
    }

    .row {
        display: flex;
        padding: 20px;
    }

    /* Create two equal columns that sits next to each other */
    .column {
        flex: 50%;
        padding: 10px;
        height: 1000px;
        /* Should be removed. Only for demonstration */
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 6px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
{% endblock head %}
{% block title %}Add Friend{% endblock title %}
{% block body %}
<h1>Add Friend</h1>
<div class="row">
    <div class="column" style="background-color:#fff;">
        <table>
            <script language="javascript" type="text/javascript">
                var names = {{ users| safe }}
                document.write("<tr><th>Username</td><th>Add</td></tr>")
                for (var a = 0; a < names.length; a++) {
                    document.write("<tr>");
                    document.write("<td>" + names[a] + "</td>");
                    document.write("<td class='text-center'>"+ "+" + "</td>");
                    document.write("</tr>");
                }
            </script>
        </table>
    </div>
    <div class="column" style="background-color:#fff;">
    </div>
</div>
{% endblock body %}