{% extends 'base_1.html' %}

{% block title %}About
{% endblock title %}
{% block body %}
<div>
  <h1 class="text-center" style="font-family:'Lucida Handwriting'">Welcome to Kryptext</h1>
  <h2 style="font-family:'Lucida Handwriting'">What is Kryptext?</h2>
    <p>KrypText is a fail-safe Web-Application that ensures private and encrypted text 
      communication.<br>KrypText has been built with only one aim in mind - messaging 
      without worrying.</p><br>

  <h2 style="font-family:'Lucida Handwriting'">Why use Kryptext?</h2>
    <p>This application has been built to keep secrets. The commmunication 
      taking place on Kryptext can never be intercepted by a third entity 
      (Not even by developers!!). Kryptext acts as a one-way vault wich you 
      can open. This vault stores and safeguards all communication between 
      your fiends and you. So, Sign-Up and start chatting with
      your friends because even GOD won't be able to eavesdrop here.</p>
    <p>In a world where personal data can be used to such an extent that 
      it can manipulate and affect our daily lives, we are in need
      of messaging platforms which give the users personal space of there 
      own. And so we present you Kryptext which stands upon its promise of
      no information leakages!</p><br>

  <h2 style="font-family:'Lucida Handwriting'">How does Kryptext work?</h2>
</div>
{% endblock body %}