{% extends 'base_1.html' %}

{% block title %}About
{% endblock title %}
{% block body %}
<div>
  <h1 class="text-center" style="font-family:'Lucida Handwriting'">Welcome to Kryptext</h1>
  <h2 style="font-family:'Lucida Handwriting'">What is Kryptext?</h2>
    <p>KrypText is a fail-safe Web-Application that ensures private and encrypted text 
      communication.<br>KrypText has been built with only one aim in mind - messaging 
      without worrying.</p><br>

  <h2 style="font-family:'Lucida Handwriting'">Does privacy matter?</h2>
    <p>Privacy is essential to who we are as human beings, and we make 
    decisions about it every single day. It gives us a space to be 
    ourselves without judgement, allows us to think freely without 
    discrimination, and is an important element of giving us control over 
    who knows what about us.<br>
    Technology has always been intertwined with this right. For instance, 
    our capabilities to protect privacy are greater today than ever before,
    yet the capabilities that now exist for surveillance are without 
    precedent.<br>
    Data privacy has always been important. A single company may possess the
    personal information of millions of customers—data that it needs to keep
    private so that customers' identities stay as safe and protected as 
    possible, and the company's reputation remains untarnished.</p><br>

  <h2 style="font-family:'Lucida Handwriting'">What is end-to-end encryption?</h2>
  <p>End – to – end encryption is the best kind of encryption, so far, for 
  encrypting the messages which are being transmitted among users. 
  End-to-end encryption ensures only you and the person you're 
  communicating with can read or listen to what is sent, and nobody in 
  between, not even the messaging app. This is because with end-to-end 
  encryption, your messages are secured with a lock, and only the recipient
  and you have the special key needed to unlock and read them.</p><br>

  <h2 style="font-family:'Lucida Handwriting'">Why use Kryptext?</h2>
    <p>This application has been built to keep secrets. The commmunication 
      taking place on Kryptext can never be intercepted by a third entity 
      (Not even by developers!!). Kryptext acts as a one-way vault which only you 
      can open. This vault stores and safeguards all communication between 
      your fiends and you. So, Sign-Up and start chatting with
      your friends because even GOD won't be able to eavesdrop here.</p>
    <p>In a world where personal data can be used to such an extent that 
      it can manipulate and affect our daily lives, we are in need
      of messaging platforms which give the users personal space of there 
      own. And so we present you Kryptext which stands upon its promise of
      no information leakages!</p><br>

  <h2 style="font-family:'Lucida Handwriting'">How does Kryptext work?</h2>
</div>
{% endblock body %}